/* Landing Page */
.landing-page-container {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("./../assets/images/sky-lg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  flex-direction: column;
  border: 2px solid black;
  height: 100vh;
}

.landing-page-container .content {
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  transform: translateY(-8%);
}

.logo {
  font-family: "Do Hyeon", sans-serif;  
}

.content h1 {
  color: white;
  font-size: 3.2rem;
}

.content p {
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
}

/* // */
