* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height:100vh ;
}

.main-container{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width: 100px;
    border: 2px solid black;
    margin: 2rem;
    height: 100%;


}