/* Navbar */
.navbar-container {
  min-height: 7vh;
  z-index: 1;
}

.navbar-container .logo {
  font-size: 1.6rem;
  font-family: "Do Hyeon", sans-serif;  

}

.logo img{
  height: 3rem;
  width: 3rem;
  margin-right: 0.5rem;
}