.footer-container {
  position: relative !important;
  bottom: 0;
  z-index: 1;
  display: flex;
  background: black;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  box-shadow: 2px 2px 4px green;
  justify-content: space-around;
  width: 100%;
  height: 7vh;
}

.developer-info {
  font-size: 1rem;
}

.icons-container {
  width: 10rem;
  height: 80%;
  display: flex;
  border: 1px solid black;
}

.icons-container > a {
  text-decoration: none !important;
  color: #212529 !important;
  background-color: transparent !important;
}

.icon {
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0 0.5rem;
}

.icon:hover {
  color: whitesmoke;
}

@media screen and (max-width: 770px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }

  .icons-container {
    margin-top: 0.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .developer-info {
    width: 100%;
    text-align: center;
  }

  .icon {
    font-size: 1rem;
  }
}
